.sequencer {
  display: flex;
  margin: auto;
}

.sequencer .step {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin-right: 4px;
}

.sequencer .step .sound {
  cursor: pointer;
  height: 24px;
  border: 1px solid #555;
  background: #cfc;
  color: black;
  border-radius: 1px;
  margin-bottom: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.1s;
  width: 24px;
}

.sequencer .step .sound.active {
  background: #fcc;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 0.25s;
  animation-direction: normal;
}

.sequencer .play {
  cursor: pointer;
  border: 1px solid #f55;
  height: 44px;
  left: 120px;
  padding: 8px;
  position: fixed;
  top: 60px;
  transition: 1s;
}

.sequencer .play:hover {
  background-color: #f55;
  color: white;
  font-weight: bolder;
}

@keyframes spin {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
